<div class="appointment">
  <div class="card">
    <div class="doctorinfo">
      <h2 *ngIf="doctorName && doctorEmail">
        Schedule an Appointment with Dr. {{doctorName}} ({{doctorEmail}})
      </h2>
    </div>
    <div class="container">
      <div class="calendar">
        <mat-calendar (selectedChange)="onDateSelected($event)" [selected]="selectedDate"></mat-calendar>
      </div>
      <div class="slots">
        <h2> Available Slots On {{ selectedDate | date:'yyyy/MM/dd' }}</h2>
        <div *ngFor="let slot of availableSlots" class="btn-div">
          <button mat-stroked-button class="btn">{{slot}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
